@charset "utf-8";
/* CSS Document */

body,h2,h3,h4,h5,h6,ul,p,span,strong,option,input{ margin:0; padding:0;}
li{ list-style:none;}
img{ border:none; overflow:hidden;}
a{ text-decoration:none;}

.zs_rjym_box{width:100%; float:left; padding:10px 0;}
.zs_rjym_nr{width:1000px; margin:0 auto;}

.zs_rjym_top{width:1000px; padding-bottom:18px; float:left;}
.zs_rjym_top_t{ padding-left:8px; float:left;height:37px; line-height:37px; border-bottom:1px dashed #c0c0c0;width:992px;}
.zs_rjym_top_t h3{ font-size:16px; color:#000; float:left; font-weight:600; font-family:"微软雅黑";}
.zs_rjym_top_t p{ font-size:12px; color:#6f6f6f; float:left; padding-left:6px; font-family:"宋体";}
.zs_rjym_top_t p a{ color:#6f6f6f; padding:0 3px;}
.zs_rjym_top_t p a:hover{ color:#ff3300;}


.zs_rjym_conter{width:1000px; float:left;}
.zs_rjym_conter_left{width:745px; float:left;}
.zs_rjym_conter_left_top{width:733px; float:left; border:1px solid #c0c0c0;}
.zs_rjym_conter_left_top_nr{width:701px; float:left; padding:16px; border-top:4px solid #c80000;}
.zs_rjym_conter_left_top_nr_t{width:100%; float:left; padding-bottom:10px;}
.zs_rjym_conter_left_top_nr_tbt{width:100%;height:26px; float:left; line-height:26px;}
.zs_rjym_conter_left_top_nr_tbt h3{ float:left; font-family:"微软雅黑"; font-size:16px; color:#000;font-weight:600;}
.zs_rjym_conter_left_top_nr_tbt p{ font-size:12px; color:#6f6f6f; float:left; padding-left:6px; font-family:"宋体";}
.zs_rjym_conter_left_top_nr_tbt p a{ color:#6f6f6f; padding:0 3px;}
.zs_rjym_conter_left_top_nr_tbt p a:hover{ color:#ff3300;}
.zs_rjym_conter_left_top_nr_ta{width:585px; float:left; padding:20px;}
.zs_rjym_conter_left_top_nr_ta li{width:50px; float:left; text-align:center;font-family:"宋体";font-size:12px;height:24px; line-height:24px; margin-bottom:5px;}
.zs_rjym_conter_left_top_nr_ta li a{ color:#6e6e6e;width:100%; float:left;}
.zs_rjym_conter_left_top_nr_ta li a:hover{ color:#fff; background:#c70000;}


.zs_rjym_conter_left_top_nr_c{width:100%; float:left; padding-bottom:10px;}
.zs_rjym_conter_left_top_nr_c h4{ float:left; font-family:"微软雅黑"; font-size:16px; color:#c7000b;font-weight:normal;height:26px; line-height:26px;width:100%;}
.zs_rjym_conter_left_top_nr_ctext{width:585px; float:left; padding:20px 20px 20px 32px;}
.zs_rjym_conter_left_top_nr_ctext span{font-family:"微软雅黑"; font-size:12px; color:#000000; padding-right:30px; float:left;height:24px; line-height:24px;}
.zs_rjym_conter_left_top_nr_ctext p{font-family:"微软雅黑"; font-size:12px; color:#000000; float:left;height:24px; line-height:24px;width:100%;}

.zs_rjym_conter_left_top_nr_b{width:100%; float:left; padding-bottom:10px;}
.zs_rjym_conter_left_top_nr_b h4{ float:left; font-family:"微软雅黑"; font-size:16px; color:#c7000b;font-weight:normal;height:26px; line-height:26px;width:100%;}
.zs_rjym_conter_left_top_nr_bli{width:645px; float:left; padding:10px 0 20px 32px;}
.zs_rjym_conter_left_top_nr_bli li{width:100%; padding-bottom:10px; border-bottom:1px dashed #e3e3e3; float:left;}
.zs_rjym_conter_left_top_nr_bli li h5{width:100%;height:24px;font-family:"微软雅黑"; font-size:12px;float:left;line-height:24px; font-weight:normal; color:#231815;}
.zs_rjym_conter_left_top_nr_bli li span{font-family:"微软雅黑"; font-size:12px; color:#6e6e6e; padding-right:30px; float:left;height:24px; line-height:24px;}
.zs_rjym_conter_left_top_nr_bli li p{font-family:"微软雅黑"; font-size:12px; color:#6e6e6e; float:left;height:24px; line-height:24px;width:100%;}
.zs_rjym_conter_left_top_nr_bli li.lili_lest{ border-bottom:none;}


/* 翻页 */

.zs_rjym_conter_left_bot{width:546px; margin:0 auto;}
.zs_rjym_conter_left_bot_nr{width:546px; float:left;height:22px; padding-bottom:30px; padding-top:15px;}
.zs_rjym_conter_left_bot_nr_left{width:323px; padding-right:19px; float:left;}
.zs_rjym_conter_left_bot_nr_left_l{width:44px; padding-left:4px; padding-right:2px; border:1px solid #c8c8c8; float:left; background:url(../../image/invest/qgbj/qgbj_img_3.png) repeat-x;height:20px;}
.zs_rjym_conter_left_bot_nr_left_l a{ float:left; color:#6e6e6e;font-family:"微软雅黑"; font-size:12px;  line-height:20px;}
.zs_rjym_conter_left_bot_nr_left_l a:hover{ color:#cc100f;}
.zs_rjym_conter_left_bot_nr_left_l img{ margin-right:3px;}
.zs_rjym_conter_left_bot_nr_left_a{width:205px; float:left;font-family:"微软雅黑 Arial"; font-size:12px; padding-left:14px;}
.zs_rjym_conter_left_bot_nr_left_a a{ padding:0 7px; float:left;height:20px; line-height:20px; border:1px solid #c8c8c8; color:#6e6e6e; margin-right:5px;}
.zs_rjym_conter_left_bot_nr_left_a a:hover{ color:#cc100f; border:1px solid #6e6e6e;}
.zs_rjym_conter_left_bot_nr_left_a a.a_list{ color:#cc100f; cursor:default; border:1px solid #6e6e6e;}
.zs_rjym_conter_left_bot_nr_left_r{width:44px; padding-left:2px; padding-right:4px; border:1px solid #c8c8c8; float:left; background:url(../../image/invest/qgbj/qgbj_img_3.png) repeat-x;height:20px;}
.zs_rjym_conter_left_bot_nr_left_r a{float:left; color:#6e6e6e;font-family:"微软雅黑"; font-size:12px;  line-height:20px;}
.zs_rjym_conter_left_bot_nr_left_r a:hover{ color:#cc100f}
.zs_rjym_conter_left_bot_nr_left_r img{margin-left:3px;}
.zs_rjym_conter_left_bot_nr_right{width:204px; float:left;}
.zs_rjym_conter_left_bot_nr_right p{ padding-right:5px;height:22px; line-height:22px;font-family:"微软雅黑"; font-size:12px; color:#6e6e6e; float:left;}
.zs_rjym_conter_left_bot_nr_right p input{width:37px;height:20px; border:1px solid #c8c8c8; margin:0 2px;font-family:"微软雅黑"; font-size:12px; color:#6e6e6e; line-height:20px;}
.zs_rjym_conter_left_bot_nr_right p.p_list{width:36px;height:22px; padding:0; float:right;}
.zs_rjym_conter_left_bot_nr_right p.p_list input{width:36px;height:20px; border:1px solid #c8c8c8; cursor:pointer; margin:0;font-family:"微软雅黑"; font-size:12px; color:#000; padding:0 0 4px 0; line-height:20px;}


/* 右边 */

.zs_rjym_conter_right{width:255px; float:right;}
.content_bottom_nr_qdzs_cxqy{width:246px;float:left;height:251px;padding-left:9px;background:url(../../image/invest/zs_tubiao_10.png) no-repeat;}
.content_b_n_qdzs_cxqy_n{width:100%;float:left;padding-top:44px;}
.content_b_n_qdzs_cxqy_n li{width:100%;float:left;padding-bottom:18px;}
.content_b_n_qdzs_cxqy_n li h3{width:100%;float:left;height:19px;font-family:"微软雅黑"; font-size:16px;line-height:19px;color:#000000;font-weight:normal;}
.content_b_n_qdzs_cxqy_n li h3 img{float:left;}
.content_b_n_qdzs_cxqy_n li h3 span{float:left;padding-left:5px;}
.content_b_n_qdzs_cxqy_glzx{width:227px;padding-left:12px;float:left; padding-top:10px;}
.content_b_n_qdzs_cxqy_glzx select{width:194px;height:24px;float:left;padding:2px;border:1px solid #8a8a8a;font-family:"微软雅黑"; font-size:12px;line-height:24px;color:#6e6e6e;}
.content_b_n_qdzs_cxqy_glzx p{float:left;padding-top:10px;padding-left:116px;font-family:"微软雅黑"; font-size:12px;line-height:21px;}

.zs_rjym_conter_right_lb{width:255px; float:left; padding-top:10px;}
.content_bottom_nr_zszx_reght{width:253px; float:right; border:1px solid #c0c0c0;}
.content_bottom_nr_zszx_rtt{width:253px;height:30px; background:#c91414; float:left;}
.content_bottom_nr_zszx_rtt h3{height:30px;line-height:30px; font-family:"微软雅黑"; font-size:15px; color:#fff; float:left; text-indent:10px;}
.content_bottom_nr_zszx_rtt p{ float:right;width:52px;height:30px; line-height:30px;font-family:"Arial"; font-size:11px; background:url(../../image/invest/img_9.png) no-repeat left bottom; padding-left:15px;}
.content_bottom_nr_zszx_rtt p a{ color:#fff;}
.content_bottom_nr_zszx_rtt p a:hover{ text-decoration:underline;}
.content_bottom_nr_zszx_rbt{width:232px;padding:12px 10px 8px 11px; float:left;}
.content_bottom_nr_zszx_rbt li{ background:url(../../image/invest/img_2.png) no-repeat left center; padding-left:12px; font-family:"微软雅黑"; font-size:12px; line-height:24px;height:24px; padding-bottom:3px;}
.content_bottom_nr_zszx_rbt li a{ color:#6e6e6e;}
.content_bottom_nr_zszx_rbt li a:hover{ color:#aa0000; text-decoration:underline;}











